/* menu */

.menu-left-drop-down {
	background: #11202e;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 50px;
	min-height: 100%;
	width: 250px;
	z-index: 810;
	-webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
	-moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
	-o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
	transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
}

.sidebar-collapse .menu-left-drop-down {
	-webkit-transform: translate(-250px, 0);
	-ms-transform: translate(-250px, 0);
	-o-transform: translate(-250px, 0);
	transform: translate(-250px, 0);
}

/* level-0 */
.menu-left-drop-down .level-0 li, .menu-left-drop-down .level-0 li a {
	width: 100%;
	background: rgb(12, 24, 36);
}

.menu-left-drop-down .level-0 li a {
	color: #95C0E0;
	text-transform: uppercase;
	font-family: 'robotomedium';
}

.menu-left-drop-down .list {
	background-position: -60px 0;
	float: right;
	height: 14px;
	margin-top: -25px;
	width: 17px;
}
/* END level-0 */

/* level-1 */
.level-1 {
	background: #11202e;
	/*height: 1000px;*/
	width: 100%;
}
/* END level-1 */

.menu-left-drop-down ul {
	padding: 0;
	margin: 0;
}

.menu-left-drop-down ul li, .menu-left-drop-down ul li a {
	width: 100%;
}

.menu-left-drop-down ul li a {
	background: #11202e;
	border-top: 1px solid #16293a;
	padding: 12px;
	color: #FFF;
	display: block;
	text-decoration: none;
}

.menu-left-drop-down .figure, .breadcrumb a[href="/"], .string-dark-gray.string-show-hide .figure {
	background-image: url("/assets/images/menu-drop-down.png");
	display: block;
}

.menu-left-drop-down ul li a.active-a {
	background: #0C1824 !important;
	color: #ffeb7c;
}

.menu-left-drop-down ul.active-ul li a {
	background: #0C1824 !important;
}

/* arrow */
.menu-left-drop-down .arrow-down + ul {
	display: none;
}

.menu-left-drop-down .arrow-up + ul {
	display: block;
}

.menu-left-drop-down .arrow-down, .menu-left-drop-down .arrow-up {
	float: right;
	margin-top: -21px;
	height: 7px;
	width: 13px;
	margin-right: 12px;
}

.menu-left-drop-down .arrow-down {
	background-position: 0 0;
}

.menu-left-drop-down .arrow-up {
	background-position: -12px -7px;
}

.menu-left-drop-down .arrow-down:hover {
	background-position: 0 -7px;
}
/* END arrow */

/* END menu */